name: Build & Test

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8]

    steps:
      - name: Checkout ${{ github.sha }} from repository ${{ github.repository }}
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install tox-gh-actions
      - name: Build
        run: |
          python setup.py install
      - name: Test with tox
        run: |
          tox
      - name: Test coverage
        run: |
          coverage run --source hpecp,bin setup.py test
          coverage report -m
      - name: Coverage
        uses: AndreMiras/coveralls-python-action@develop
        with:
          github-token: g0waCcM28o3gLyuF0JbAmWRbYl1iS9lyp
          debug: true
